<!-- <h1>Hello Angular it's Jitu</h1>
<h2>{{name}}</h2>

<h3>{{1+1}}</h3>

<app-login></app-login>
<app-login></app-login>

<app-sign-up></app-sign-up>
<app-profile></app-profile>

<button (click)="handelClickEvent()">Click Me</button>

<button (click)="sum(10,20)">Click Me</button> -->

<!-- <h1>Counter App</h1>
<div style="text-align: center;">
    <h2 class="count" >{{count}}                                                                                        </h2>
    <div>
        <button class="btn bg-red" (click)="handelCounter('minus')">Decrement</button>
        <button class="btn bg-black"  (click)="handelCounter('plus')">Increment</button>
        <button class="btn bg-green"  (click)="handelCounter('reset')">Reset</button>
    </div>
</div> -->

<!-- <h1>Event</h1>
<button class="btn" name="login" (click)="handelEvent($event)">Click Event</button>
<br><br>
<div (mouseenter)="handelEvent($event)" style="background-color: green; width: 100px; height: 100px;"></div> 
<br>
<div (mouseleave)="handelEvent($event)" style="background-color: blue; width: 100px; height: 100px;"></div> 
<br>
<input type="text"
(focus)="handelEvent($event)"
(blur)="handelEvent($event)"

(input)="handelEvent($event)"
name="name"> -->

<!-- <h1>Get And Set Input Field Value</h1>
<h1>User Name is :{{displayName}}</h1>
<h1>User EMail is :{{email}}</h1>

<input type="text" (input)="getName($event)" placeholder="Enter Your Name">
<br><br>
<br><br>
<button (click)="showName()" >Get Name</button>
<br>
<br>
<button (click)="setName()" >Set Name</button>

<br><br>
<input type="text"  (input)="getEmail(emailFiled.value)" placeholder="Enter Email" #emailFiled>
<button (click)="getEmail(emailFiled.value)">Get Email</button>
<button (click)="setEmail()">set Email</button> -->

<!-- <style>
    h2{
        background-color: bisque;
    }
</style>
<h1>Style Rules & Option</h1>
<h2 style="color: black;">Heading 2 Tag</h2>
<app-profile></app-profile> -->

<h2 (click)="hide()">If Else | Control Flow</h2>
<button (click)="hide()">Hide</button>
<button (click)="show()">Show</button>
<button (click)="toggle()">toggle</button>
@if(display){
    <div style="width: 200px; height: 200px; height: 20; background-color: orange;"></div>
    
}

<hr>
<p>{{toogleDiv==true?'Show Gold':'Show Red'}}</p>
@if (toogleDiv==true) {
    <div style="background-color: gold; width: 200px; height: 200px;">

    </div>
}
@else {
    <div style="background-color: red; width: 200px; height: 200px;">

    </div>
}
<button (click)="toggleTwo()">toggle 2 divs</button>


